<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <style>
    {{{css}}}
  </style>
</head>

<body>
<div class="container">

<table style="width:100%; border-collapse:collapse;">

  <tr>

    <td style="width:38%; padding:0; vertical-align:top;">

    <table style="width:100%; border-collapse:collapse;">
  <tr class="h97">
    <td style="vertical-align: middle; text-align: center;">

      {{#if logo}}
        <div style="margin-bottom: 5px;">
          <img
            src="{{logo}}"
            style="max-height:55px; max-width:120px;"
          />
        </div>
      {{/if}}

      <div class="value center bold" style="font-size: 12pt; margin-bottom: 4px; line-height: 1.2;">
        {{emitente.nome}}
      </div>

      <div style="font-size: 7pt; line-height: 1.1;">
        <div class="value center">
          {{emitente.endereco.linha1}}
        </div>

        <div class="value center">
          {{emitente.endereco.linha2}}
        </div>

        <div class="value center">
          CEP {{emitente.endereco.cep}}
        </div>

        <div class="value center">
          {{emitente.fone}}
        </div>

        <div class="value center">
          CNPJ: {{emitente.documento}}
        </div>

        <div class="value center">
          IE: {{emitente.ie}}
        </div>
      </div>

    </td>
  </tr>
</table>

<table style="width:100%; border-collapse:collapse;">
        <tr>

          <td style="width:50%;" class="h30">

            <span class="label center">
              TIPO DO CT-E
            </span>

            <span class="value  center">
              {{tipo_cte}}
            </span>

          </td>

          <td style="width:50%;" class="h30">

            <span class="label center">
              TIPO DO SERVIÇO
            </span>

            <span class="value  center">
              {{servico}}
            </span>

          </td>

        </tr>

        <tr>

          <td class="h30">

            <span class="label center">
              TOMADOR DO SERVIÇO
            </span>

            <span class="value  center">
              {{tomador.nome}}
            </span>

          </td>

          <td class="h30">

            <span class="label center">
              FORMA DE PAGAMENTO
            </span>

            <span class="value bold center">
              {{formaPagamento}}
            </span>

          </td>

        </tr>

      </table>

    </td>

    <td style="width:62%; padding:0; vertical-align:top;">

      <table style="width:100%; border-collapse:collapse;">

        <tr>

          <td
            style="width:60%;"
            class="center h40"
          >

            <div class="bold" style="font-size: large">
              DACTE
            </div>

            <div class="tiny">
              DOCUMENTO AUXILIAR DO
              CONHECIMENTO DE TRANSPORTE
              ELETRÔNICO
            </div>

          </td>

          <td class="h40">

            <span class="label center">
              MODAL
            </span>

            <span class="value center bold">
              {{modal}}
            </span>

          </td>

        </tr>

      </table>

      <table style="width:100%; border-collapse:collapse;">

        <tr>

          <td class="h30" colspan="2">

            <span class="label center">
              MODELO
            </span>

            <span class="value center bold">
              57
            </span>

          </td>

          <td class="h30" colspan="2">

            <span class="label center">
              SÉRIE
            </span>

            <span class="value center bold">
              {{serie}}
            </span>

          </td>

          <td class="h30" colspan="3">

            <span class="label center">
              NÚMERO
            </span>

            <span class="value center bold">
              {{numero}}
            </span>

          </td>

          <td class="h30">

            <span class="label center">
              FL
            </span>

            <span class="value center bold">
              1/1
            </span>

          </td>

          <td class="h30" colspan="4">

            <span class="label center">
              DATA E HORA DE EMISSÃO
            </span>

            <span class="value center bold">
              {{data_emissao}}
            </span>

          </td>

          <td colspan="4" class="h30">

            <span class="label center" >
              INSC. SUFRAMA DO DESTINATÁRIO
            </span>

            <span class="value center bold">
              {{destinatario.suframa}}
            </span>

          </td>

        </tr>

      </table>

      <table style="width:100%; border-collapse:collapse;">

        <tr>

          <td colspan="5" class="center h40">
            <svg id="barcode"></svg>
          </td>

        </tr>

        <tr>

          <td colspan="5" class="center h30">

            <span class="label">
              CHAVE DE ACESSO
            </span>

            <span
              class="value mono bold center"
              style="font-size:7pt;"
            >

              {{chave_formatada}}

            </span>

          </td>

        </tr>

        <tr>

          <td colspan="5" class="center h30">

            <span style="font-size:7pt;">
              Consulta de autenticidade no portal nacional do CT-e,
              no site da Sefaz Autorizadora,
              ou em http://www.cte.fazenda.gov.br
            </span>

          </td>

        </tr>

      </table>

    </td>

  </tr>

</table>

<table>

  <tr>

    <td style="width:38%;" class="h30">

      <span class="label">
        CFOP - NATUREZA DA PRESTAÇÃO
      </span>

      <span class="value">
        {{cfop}} - {{natureza_operacao}}
      </span>

    </td>

    <td style="width:62%;" class="h30">

      <span class="label">
        PROTOCOLO DE AUTORIZAÇÃO DE USO
      </span>

      <span class="value">
        {{protocolo_formatado}}
      </span>

    </td>

  </tr>

</table>

<table>

  <tr>

    <td style="width:50%;" class="h30">

      <span class="label">
        INÍCIO DA PRESTAÇÃO
      </span>

      <span class="value">
        {{municipio_inicio}} - {{uf_inicio}}
      </span>

    </td>

    <td style="width:50%;" class="h30">

      <span class="label">
        TÉRMINO DA PRESTAÇÃO
      </span>

      <span class="value">
        {{municipio_fim}} - {{uf_fim}}
      </span>

    </td>

  </tr>

</table>

<table>

  <tr>

  <td style="width:50%;" class="h55">


  <div style="display:flex; gap:10px;">

    <div style="flex:1;">

      <span class="value">
        <span class="bold">REMETENTE:</span>
        {{remetente.nome}}
      </span>

      <span class="value">
        <span class="bold">ENDEREÇO:</span>
        {{remetente.endereco.linha1}}
      </span>

      <span class="value">
        <span class="bold">MUNICÍPIO:</span>
        {{remetente.endereco.municipio}} - {{remetente.endereco.uf}}
      </span>

      <span class="value">
        <span class="bold">CNPJ/CPF:</span>
        {{remetente.documento}}
      </span>

      <span class="value">
        <span class="bold">PAÍS:</span>
        {{remetente.endereco.pais}}
      </span>

    </div>

    <div style="flex:1;">

      <span class="value">
        <span class="bold">CEP:</span>
        {{remetente.endereco.cep}}
      </span>

      <span class="value">
        <span class="bold">INSCRIÇÃO ESTADUAL:</span>
        {{remetente.ie}}
      </span>

      <span class="value">
        <span class="bold">FONE:</span>
        {{remetente.fone}}
      </span>

    </div>

  </div>

</td>

<td style="width:50%;" class="h55">


  <div style="display:flex; gap:10px;">

    <div style="flex:1;">

      <span class="value">
        <span class="bold">DESTINATÁRIO:</span>
        {{destinatario.nome}}
      </span>

      <span class="value">
        <span class="bold">ENDEREÇO:</span>
        {{destinatario.endereco.linha1}}
      </span>

      <span class="value">
        <span class="bold">MUNICÍPIO:</span>
        {{destinatario.endereco.municipio}} - {{destinatario.endereco.uf}}
      </span>

      <span class="value">
        <span class="bold">CNPJ/CPF:</span>
        {{destinatario.documento}}
      </span>

      <span class="value">
        <span class="bold">PAÍS:</span>
        {{destinatario.endereco.pais}}
      </span>

    </div>

    <div style="flex:1;">

      <span class="value">
        <span class="bold">CEP:</span>
        {{destinatario.endereco.cep}}
      </span>

      <span class="value">
        <span class="bold">INSCRIÇÃO ESTADUAL:</span>
        {{destinatario.ie}}
      </span>

      <span class="value">
        <span class="bold">FONE:</span>
        {{destinatario.fone}}
      </span>

    </div>

  </div>

</td>
  </tr>

<tr>

  <td style="width:50%;" class="h55">


    <div style="display:flex; gap:10px;">

      <div style="flex:1;">

        <span class="value">
          <span class="bold">EXPEDIDOR:</span>
          {{expedidor.nome}}
        </span>

        <span class="value">
          <span class="bold">ENDEREÇO:</span>
          {{expedidor.endereco.linha1}}
        </span>

        <span class="value">
          <span class="bold">MUNICÍPIO:</span>
          {{expedidor.endereco.municipio}} - {{expedidor.endereco.uf}}
        </span>

        <span class="value">
          <span class="bold">CNPJ/CPF:</span>
          {{expedidor.documento}}
        </span>

        <span class="value">
          <span class="bold">PAÍS:</span>
          {{expedidor.endereco.pais}}
        </span>

      </div>

      <div style="flex:1;">

        <span class="value">
          <span class="bold">CEP:</span>
          {{expedidor.endereco.cep}}
        </span>

        <span class="value">
          <span class="bold">INSCRIÇÃO ESTADUAL:</span>
          {{expedidor.ie}}
        </span>

        <span class="value">
          <span class="bold">FONE:</span>
          {{expedidor.fone}}
        </span>

      </div>

    </div>

  </td>

  <td style="width:50%;" class="h55">


    <div style="display:flex; gap:10px;">

      <div style="flex:1;">

        <span class="value">
          <span class="bold">RECEBEDOR:</span>
          {{recebedor.nome}}
        </span>

        <span class="value">
          <span class="bold">ENDEREÇO:</span>
          {{recebedor.endereco.linha1}}
        </span>

        <span class="value">
          <span class="bold">MUNICÍPIO:</span>
          {{recebedor.endereco.municipio}} - {{recebedor.endereco.uf}}
        </span>

        <span class="value">
          <span class="bold">CNPJ/CPF:</span>
          {{recebedor.documento}}
        </span>

        <span class="value">
          <span class="bold">PAÍS:</span>
          {{recebedor.endereco.pais}}
        </span>

      </div>

      <div style="flex:1;">

        <span class="value">
          <span class="bold">CEP:</span>
          {{recebedor.endereco.cep}}
        </span>

        <span class="value">
          <span class="bold">INSCRIÇÃO ESTADUAL:</span>
          {{recebedor.ie}}
        </span>

        <span class="value">
          <span class="bold">FONE:</span>
          {{recebedor.fone}}
        </span>

      </div>

    </div>

  </td>

</tr></table>

<table>

 <tr>

  <td colspan="4">

        <div style="display:flex; gap:10px;">

      <div style="flex:1;">

        <span class="value">
          <span class="bold">TOMADOR DO SERVIÇO:</span>
          {{tomador.nome}}
        </span>

        <span class="value">
          <span class="bold">ENDEREÇO:</span>
          {{tomador.endereco.linha1}}
        </span>

        <span class="value">
          <span class="bold">CNPJ/CPF:</span>
          {{tomador.documento}}
        </span>

      </div>

      <div style="flex:1;">

        <span class="value">
          <span class="bold">INSCRIÇÃO ESTADUAL:</span>
          {{tomador.ie}}
        </span>

        <span class="value">
          <span class="bold">MUNICÍPIO:</span>
          {{tomador.endereco.municipio}}
        </span>

        <span class="value">
          <span class="bold">UF:</span>
          {{tomador.endereco.uf}}
        </span>

      </div>

      <div style="flex:1;">

        <span class="value">
          <span class="bold">PAÍS:</span>
          {{tomador.endereco.pais}}
        </span>

        <span class="value">
          <span class="bold">CEP:</span>
          {{tomador.endereco.cep}}
        </span>

        <span class="value">
          <span class="bold">FONE:</span>
          {{tomador.fone}}
        </span>

      </div>

    </div>

  </td>

</tr></table>

<table>

  <tr class="h30">

    <td colspan="4">

      <span class="label">
        PRODUTO PREDOMINANTE
      </span>

      <span class="value">
        {{carga.produtoPredominante}}
      </span>

    </td>

    <td colspan="2">

      <span class="label">
        OUTRAS CARACTERÍSTICAS DA CARGA
      </span>

      <span class="value">
        {{carga.outrasCaracteristicas}}
      </span>

    </td>

    <td colspan="2">

      <span class="label">
        VALOR TOTAL MERCADORIA
      </span>

      <span class="value center bold">
        {{carga.valorCarga}}
      </span>

    </td>

  </tr>

</table>

<table>

  <tr class="h40">

    <td colspan="4">

      <span class="label">
        PESO BRUTO (KG)
      </span>

      <span class="value center">
        {{carga.pesoBruto}}
      </span>

    </td>

    <td colspan="4">

      <span class="label">
        PESO BASE (KG)
      </span>

      <span class="value center">
        {{carga.pesoBase}}
      </span>

    </td>

    <td colspan="4">

      <span class="label">
        PESO CUBADO (KG)
      </span>

      <span class="value center">
        {{carga.pesoCubado}}
      </span>

    </td>

    <td colspan="3">

      <span class="label">
        CUBAGEM(M3)
      </span>

      <span class="value center">
        {{carga.cubagem}}
      </span>

    </td>

    <td colspan="3">

      <span class="label">
        QTDE(VOL)
      </span>

      <span class="value center">
        {{carga.quantidadeVolumes}}
      </span>

    </td>

    <td colspan="16">

      <table>

        <tr class="h10">
          <td>
            <span class="label">
              NOME DA SEGURADORA
            </span>

            <span class="value">
              {{seguro.seguradora}}
            </span>
          </td>
        </tr>

      </table>

      <table>

        <tr class="h30">

          <td>

            <span class="label">
              RESPONSÁVEL
            </span>

            <span class="value">
              {{seguro.responsavel}}
            </span>

          </td>

          <td>

            <span class="label">
              NÚMERO DA APOLICE
            </span>

            <span class="value">
              {{seguro.apolice}}
            </span>

          </td>

          <td>

            <span class="label">
              NÚMERO DA AVERBAÇÃO
            </span>

            <span class="value">
              {{seguro.averbacao}}
            </span>

          </td>

        </tr>

      </table>

  </td>

  </tr>

</table>

<div class="section">
  COMPONENTES DO VALOR DA PRESTAÇÃO DO SERVIÇO
</div>

<table>

 <tr class="h80">

  <td>

    <div style="display:flex;">

      <div style="flex:1;">

        <span class="label">
          NOME
        </span>

        <span class="value center">
          {{#if valores.componentes.[0].nome}}
            {{valores.componentes.[0].nome}}
          {{else}}
            &nbsp;
          {{/if}}
        </span>

      </div>

      <div style="flex:1;">

        <span class="label">
          VALOR
        </span>

        <span class="value center">
          {{#if valores.componentes.[0].valor}}
            {{valores.componentes.[0].valor}}
          {{else}}
            &nbsp;
          {{/if}}
        </span>

      </div>

    </div>

  </td>

  <td>

    <div style="display:flex;">

      <div style="flex:1;">

        <span class="label">
          NOME
        </span>

        <span class="value center">
          {{#if valores.componentes.[1].nome}}
            {{valores.componentes.[1].nome}}
          {{else}}
            &nbsp;
          {{/if}}
        </span>

      </div>

      <div style="flex:1;">

        <span class="label">
          VALOR
        </span>

        <span class="value center">
          {{#if valores.componentes.[1].valor}}
            {{valores.componentes.[1].valor}}
          {{else}}
            &nbsp;
          {{/if}}
        </span>

      </div>

    </div>

  </td>

  <td>

    <div style="display:flex;">

      <div style="flex:1;">

        <span class="label">
          NOME
        </span>

        <span class="value center">
          {{#if valores.componentes.[2].nome}}
            {{valores.componentes.[2].nome}}
          {{else}}
            &nbsp;
          {{/if}}
        </span>

      </div>

      <div style="flex:1;">

        <span class="label">
          VALOR
        </span>

        <span class="value center">
          {{#if valores.componentes.[2].valor}}
            {{valores.componentes.[2].valor}}
          {{else}}
            &nbsp;
          {{/if}}
        </span>

      </div>

    </div>

  </td>

  <td>

  <table>

        <tr class="h40">

          <td>

            <span class="label center">
              VALOR TOTAL SERVIÇO
            </span>

            <span class="value center bold">
              {{valores.valor_total}}
            </span>

          </td>

        </tr>

        <tr class="h40">

          <td>

            <span class="label center">
              VALOR A RECEBER
            </span>

            <span class="value center bold">
              {{valores.valor_receber}}
            </span>

          </td>

        </tr>

      </table>

    </td>

  </tr>

</table>

<div class="section">
  INFORMAÇÕES RELATIVAS AO IMPOSTO
</div>

<table>

  <tr class="h40">

    <td>

      <span class="label">
        SITUAÇÃO TRIBUTÁRIA
      </span>

      <span class="value center">
        {{imposto.cst}}
      </span>

    </td>

    <td>

      <span class="label">
        BASE CÁLCULO
      </span>

      <span class="value center">
        {{imposto.bc}}
      </span>

    </td>

    <td>

      <span class="label">
        ALÍQ ICMS
      </span>

      <span class="value center">
        {{imposto.aliquota}}%
      </span>

    </td>

    <td>

      <span class="label">
        VALOR ICMS
      </span>

      <span class="value center bold">
        {{imposto.valor}}
      </span>

    </td>

    <td>

      <span class="label">
        % RED. BC ICMS
      </span>

      <span class="value center bold">
        {{imposto.reducao}}
      </span>

    </td>

  </tr>

</table>

<div class="section">
  DOCUMENTOS ORIGINÁRIOS
</div>

<table class="h97">
  <tr>

    <td style="width:50%;">
      <div style="display:flex;">
        <div style="flex:1;">
          <span class="label">TIPO DOC</span>
          <span class="value center bold">{{documentos.nfes.[0].tipo}}</span>
        </div>
        <div style="flex:2;">
          <span class="label">CNPJ/CHAVE</span>
          <span class="value center mono">{{documentos.nfes.[0].chave}}</span>
        </div>
        <div style="flex:1;">
          <span class="label">SÉRIE/NRO. DOCUMENTO</span>
          <span class="value center">{{documentos.nfes.[0].serie}}/{{documentos.nfes.[0].numero}}</span>
        </div>
      </div>
    </td>

    <td style="width:50%;">
      <div style="display:flex;">
        <div style="flex:1;">
          <span class="label">TIPO DOC</span>
          <span class="value center bold">{{documentos.nfes.[1].tipo}}</span>
        </div>
        <div style="flex:2;">
          <span class="label">CNPJ/CHAVE</span>
          <span class="value center mono">{{documentos.nfes.[1].chave}}</span>
        </div>
        <div style="flex:1;">
          <span class="label">SÉRIE/NRO. DOCUMENTO</span>
          <span class="value center">{{documentos.nfes.[1].serie}}/{{documentos.nfes.[1].numero}}</span>
        </div>
      </div>
    </td>

  </tr>
</table>

<div class="section">
  OBSERVAÇÕES
</div>

<table>

  <tr>

    <td class="h40">

      <span class="value">
        {{observacoes.contribuinte}}
      </span>

    </td>

  </tr>

</table>

<div class="section">
  DADOS ESPECÍFICOS DO MODAL RODOVIÁRIO
</div>

<table>

  <tr class="h40">

    <td colspan="4">

      <span class="label">
        RNTRC DA EMPRESA
      </span>

      <span class="value">
        {{rodoviario.rntrc}}
      </span>

    </td>

    <td colspan="4">

      <span class="label">
        CIOT
      </span>

      <span class="value">
        {{rodoviario.ciot}}
      </span>

    </td>

    <td colspan="2">

      <span class="label">
        LOTAÇÃO
      </span>

      <span class="value">
        {{rodoviario.lotacao}}
      </span>

    </td>

    <td colspan="4">

      <span class="label">
        DATA PREVISTA DE ENTREGA
      </span>

      <span class="value">
        {{rodoviario.dataEntrega}}
      </span>

    </td>

    <td colspan="10">

      <span class="label center">
        ESTE CONHECIMENTO DE TRANSPORTE
        ATENDE À LEGISLAÇÃO DE TRANSPORTE
        RODOVIÁRIO EM VIGOR
      </span>

    </td>

  </tr>

</table>

<table>

  <tr class="h40">

    <td colspan="7">

      <div class="section">
        USO EXCLUSIVO DO EMISSOR DO CT-E
      </div>

      <span class="value tiny">
        Este documento foi emitido conforme legislação vigente.
      </span>

    </td>

    <td colspan="3">

      <div class="section">
        RESERVADO AO FISCO
      </div>

    </td>

  </tr>

</table>

<br>

<div class="dashed-line-horizontal"></div>

<br>

<div class="section">
  DECLARO QUE RECEBI OS VOLUMES DESTE CONHECIMENTO
  EM PERFEITO ESTADO PELO QUE DOU POR CUMPRIDO
  O PRESENTE CONTRATO DE TRANSPORTE
</div>

<table>

  <tr class="h80">

    <td colspan="4">

      <table>

        <tr class="h40">

          <td>
            <span class="label">
              NOME
            </span>
          </td>

        </tr>

        <tr class="h40">

          <td>
            <span class="label">
              RG
            </span>
          </td>

        </tr>

      </table>

    </td>

    <td colspan="4">

      <span class="label">
        ASSINATURA / CARIMBO
      </span>

    </td>

<td colspan="5">

  <span class="label">
    TÉRMINO DA PRESTAÇÃO - DATA/HORA
  </span>
<br>
  <span class="value" style="margin-top:2px;">
    ____/____/______  ____:____
  </span>
<br>
<br>
  <span class="label">
    INÍCIO DA PRESTAÇÃO - DATA/HORA
  </span>
<br>

  <span class="value" style="margin-top:2px;">
    ____/____/______  ____:____
  </span>

</td>
   <td colspan="2" class="center" style="vertical-align: middle;">
      <div style="font-size: 11pt; font-weight: bold; margin-bottom: 2px;">CT-E</div>
      <div class="value bold" style="font-size: 7pt;">Nº {{numero}}</div>
      <div class="value bold" style="font-size: 7pt;">Série {{serie}}</div>
    </td>
  </tr>

</table>

<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>

<script>

  var chaveBruta = "{{chave}}".replace(/[^0-9]/g, '');
  if(chaveBruta) {

    JsBarcode("#barcode", chaveBruta, {
      format: "CODE128",
      displayValue: false,
      height: 30,
      width: 1.1,
      margin: 3,
      background: "transparent"
    });
  }

</script>

</div>
</body>
</html>
