<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
    <style>
    {{{css}}}
  </style>   
  </head>
<body>
<div class="container">

  <!-- CABEÇALHO -->
<table style="width:100%; border-collapse:collapse;">

  <tr>

    <!-- COLUNA ESQUERDA -->
    <td style="width:38%; padding:0; vertical-align:top;">

      <table style="width:100%; border-collapse:collapse; ">

        <!-- EMITENTE -->
        <tr class="h97" >



                  {{#if logo}}
                    <img
                      src="{{logo}}"
                      style="max-height:55px; max-width:120px;"
                    />
                  {{/if}}

<span class="value center bold">
                  {{emitente.nome}}
</span>
                  {{emitente.endereco}}

                  {{emitente.municipio}} - {{emitente.uf}}

                  {{emitente.telefone}}



        </tr>

        <!-- TIPO CT-E / SERVIÇO -->
        <tr>

          <td style="width:50%;" class="h30">

            <span class="label">
              TIPO DO CT-E
            </span>

            <span class="value bold center">
              {{tipoCte}}
            </span>

          </td>

          <td style="width:50%;" class="h30">

            <span class="label">
              TIPO DO SERVIÇO
            </span>

            <span class="value bold center">
              {{tipoServico}}
            </span>

          </td>

        </tr>

        <!-- TOMADOR / PAGAMENTO -->
        <tr>

          <td class="h30">

            <span class="label">
              TOMADOR DO SERVIÇO
            </span>

            <span class="value bold center">
              {{tomador.tipo}}
            </span>

          </td>

          <td class="h30">

            <span class="label">
              FORMA DE PAGAMENTO
            </span>

            <span class="value bold center">
              {{formaPagamento}}
            </span>

          </td>

        </tr>

      </table>

    </td>

    <!-- COLUNA DIREITA -->
<td style="width:62%; padding:0; vertical-align:top;">

  <table style="width:100%; border-collapse:collapse;">

    <!-- LINHA DACTE -->
    <tr >

      <!-- DACTE -->
      <td
        style="width:60%;"
        class="center h40"
      >

        <div class="bold" style="font-size: large">
          DACTE
        </div>

        <div class="tiny">
          DOCUMENTO AUXILIAR DO
          CONHECIMENTO DE TRANSPORTE
          ELETRÔNICO
        </div>

      </td>

      <!-- MODAL -->
      <td class="h40" >

        <span class="label">
          MODAL
        </span>

        <span class="value center bold">
          {{modal}}
        </span>

      </td>

    </tr>
</table>

  <table style="width:100%; border-collapse:collapse;">
    <!-- MODELO / SERIE / NUMERO / FL / DATA -->
    <tr>

      <!-- MODELO -->
      <td class="h30" colspan="2">

        <span class="label">
          MODELO
        </span>

        <span class="value center bold">
          {{modelo}}
        </span>

      </td>

      <!-- SÉRIE -->
      <td class="h30" colspan="2">

        <span class="label">
          SÉRIE
        </span>

        <span class="value center bold">
          {{serie}}
        </span>

      </td>

      <!-- NÚMERO -->
      <td class="h30" colspan="3">

        <span class="label">
          NÚMERO
        </span>

        <span class="value center bold">
          {{numero}}
        </span>

      </td>

      <!-- FL -->
      <td class="h30">

        <span class="label">
          FL
        </span>

        <span class="value center bold">
          1/1
        </span>

      </td>

      <!-- DATA -->
      <td class="h30" colspan="4">

        <span class="label">
          DATA E HORA DE EMISSÃO
        </span>

        <span class="value center bold">
          {{dataHoraEmissao}}
        </span>

      </td>
 <td colspan="4" class="h30">

        <span class="label">
          INSC. SUFRAMA DO DESTINATÁRIO
        </span>

        <span class="value center bold">
          {{inscricaoSuframa}}
        </span>

      </td>
     

    </tr>
</table>

  <table style="width:100%; border-collapse:collapse;">
    <!-- BARCODE -->
    <tr>

      <td colspan="5" class="center h40">

        <svg id="barcode"></svg>

      </td>

    </tr>

    <!-- CHAVE -->
    <tr>

      <td colspan="5" class="center h30">

        <span class="label">
          CHAVE DE ACESSO
        </span>

        <span
          class="value mono bold center"
          style="font-size:7pt;"
        >

          {{chave}}

        </span>

      </td>

    </tr>

    <!-- CONSULTA -->
    <tr>

      <td colspan="5" class="center h30">

        <span style="font-size:7pt;"
>
        Consulta de autenticidade no portal nacional do CT-e, no site da Sefaz Autorizadora,
ou em http://www.cte.fazenda.gov.br       
</span>

      </td>

    </tr>

  </table>

</td>  </tr>

</table>

<table>

  <!-- PRIMEIRA ROW -->
  <tr>

    <td style="width:38%;" class="h30">
      <span class="label">CFOP - NATUREZA DA PRESTAÇÃO</span>
      <span class="value">
        {{#if naturezaPrestacao}}
          {{cfop}} - {{naturezaPrestacao}}
        {{else}}
          &nbsp;
        {{/if}}
      </span>
    </td>
    <td style="width:62%;"  class="h30">
      <span class="label">PROTOCOLO DE AUTORIZAÇÃO DE USO</span>
      <span class="value">
        {{#if protocolo}}
          {{protocolo}}
        {{else}}
          &nbsp;
        {{/if}}
      </span>
    </td>


  </tr>
</table>
  <!-- SEGUNDA ROW -->

<table>
  <tr>

    <td style="width:50%;" class="h30">
      <span class="label">INÍCIO DA PRESTAÇÃO</span>

      <span class="value">
        {{#if inicioPrestacao}}
          {{inicioPrestacao}}
        {{else}}
          &nbsp;
        {{/if}}
      </span>
    </td>

    <td style="width:50%;" class="h30">
      <span class="label">TÉRMINO DA PRESTAÇÃO</span>

      <span class="value">
        {{#if fimPrestacao}}
          {{fimPrestacao}}
        {{else}}
          &nbsp;
        {{/if}}
      </span>
    </td>

  </tr>

</table>

  <table>
    <tr>
      <td style="width:50%;" class="h55">
        <span class="label">REMETENTE</span>
        <span class="value bold">{{remetente.nome}}</span>
        <span class="value">{{remetente.endereco}}</span>
        <span class="value">{{remetente.bairro}}</span>
        <span class="value">{{remetente.municipio}} - {{remetente.uf}} CEP {{remetente.cep}}</span>
        <span class="value">CNPJ/CPF {{remetente.documento}} - IE {{remetente.ie}}</span>
      </td>

      <td style="width:50%;" class="h55">
        <span class="label">DESTINATÁRIO</span>
        <span class="value bold">{{destinatario.nome}}</span>
        <span class="value">{{destinatario.endereco}}</span>
        <span class="value">{{destinatario.bairro}}</span>
        <span class="value">{{destinatario.municipio}} - {{destinatario.uf}} CEP {{destinatario.cep}}</span>
        <span class="value">CNPJ/CPF {{destinatario.documento}} - IE {{destinatario.ie}}</span>
      </td>
    </tr>

    <tr>
      <td style="width:50%;" class="h55">
        <span class="label">EXPEDIDOR</span>
        <span class="value bold">{{expedidor.nome}}</span>
        <span class="value">{{expedidor.endereco}}</span>
        <span class="value">{{expedidor.bairro}}</span>
        <span class="value">{{expedidor.municipio}} - {{expedidor.uf}} CEP {{expedidor.cep}}</span>
        <span class="value">CNPJ/CPF {{expedidor.documento}} - IE {{expedidor.ie}}</span>
      </td>

      <td style="width:50%;" class="h55">
        <span class="label">RECEBEDOR</span>
        <span class="value bold">{{recebedor.nome}}</span>
        <span class="value">{{recebedor.endereco}}</span>
        <span class="value">{{recebedor.bairro}}</span>
        <span class="value">{{recebedor.municipio}} - {{recebedor.uf}} CEP {{recebedor.cep}}</span>
        <span class="value">CNPJ/CPF {{recebedor.documento}} - IE {{recebedor.ie}}</span>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td colspan="4">
        <span class="label">TOMADOR DO SERVIÇO</span>
        <span class="value bold">{{tomador.nome}}</span>
        <span class="value">{{tomador.endereco}}</span>
        <span class="value">{{tomador.municipio}} - {{tomador.uf}} CEP {{tomador.cep}}</span>
        <span class="value">CNPJ/CPF {{tomador.documento}} - IE {{tomador.ie}}</span>
        <span class="value">PAÍS {{tomador.pais}} - FONE {{tomador.fone}}</span>
      </td>
    </tr>
  </table>


  <table>
    <tr class="h30">
      <td colspan="4"  >
        <span class="label">PRODUTO PREDOMINANTE</span>
        <span class="value">{{carga.proPred}}</span>
      </td>
    <td colspan="2">
        <span class="label">OUTRAS CARACTERÍSTICAS DA CARGA</span>
        <span class="value">{{carga.proPred}}</span>
 
    </td>
      <td colspan="2">
        <span class="label">VALOR TOTAL MERCADORIA</span>
        <span class="value center bold">{{carga.vCarga}}</span>
      </td>
    </tr>
    </table>
<table>
    <tr class="h40">
      <td colspan="4">
        <span class="label">TP MED /UN. MED</span>
        <span class="value center">{{carga.pesoBruto}}</span>
      </td>

      <td  colspan="4">
        <span class="label">TP MED /UN. MED</span>
        <span class="value center">{{carga.pesoBase}}</span>
      </td>

      <td colspan="4">
        <span class="label">TP MED /UN. MED</span>
        <span class="value center">{{carga.pesoCubado}}</span>
      </td>
<td colspan="3">
        <span class="label">CUBAGEM(M3)</span>
        <span class="value center">{{carga.pesoCubado}}</span>
      </td>
<td colspan="3">
        <span class="label">QTDE(VOL)</span>
        <span class="value center">{{carga.pesoCubado}}</span>
      </td>
    <td colspan="16">
<table>
 <tr class="h10" >  
        <td><span class="label">NOME DA SEGURADORA</span></td>
 </tr>
</table>
<table>
    <tr class="h30">
 <td>

        <span class="label">RESPONSÁVEL</span>
 </td>
 <td>

        <span class="label">NÚMERO DA APOLICE</span>
 </td>
 <td>
        <span class="label">NÚMERO DA AVERBAÇÃO</span>
 </td></tr>
  </table>
    </td>
    </tr>
  </table>



  <div class="section">COMPONENTES DO VALOR DA PRESTAÇÃO DO SERVIÇO</div>

  <table >
    <tr class="h80">
      <td>
        <span class="label">NOME</span>
        <span class="value center">VALOR</span>
      </td>
 <td>
        <span class="label">NOME</span>
        <span class="value center">VALOR</span>
      </td>
 <td>
        <span class="label">NOME</span>
        <span class="value center">VALOR</span>
      </td>


 <td>

  <table>
      <tr class="h40">
<td>
        <span class="label">VALOR TOTAL SERVIÇO</span>
        <span class="value center bold">{{valores.totalServico}}</span>
        </td>
      </tr>

      <tr class="h40">
      <td>
        <span class="label">VALOR A RECEBER</span>
        <span class="value center bold">{{valores.valorReceber}}</span>
        </td>
      </tr>
</table>
</td>
    </tr>
  </table>

  <div class="section">INFORMAÇÕES RELATIVAS AO IMPOSTO</div>

  <table>
    <tr class="h40">
      <td>
        <span class="label">SITUAÇÃO TRIBUTÁRIA</span>
        <span class="value">{{imposto.cst}}</span>
      </td>

      <td>
        <span class="label">BASE CÁLCULO</span>
        <span class="value center">{{imposto.baseCalculo}}</span>
      </td>

      <td>
        <span class="label">ALÍQ ICMS</span>
        <span class="value center">{{imposto.pICMS}}%</span>
      </td>

      <td>
        <span class="label">VALOR ICMS</span>
        <span class="value center bold">{{imposto.valor}}</span>
      </td>
  <td>
        <span class="label">% RED. BC ICMS</span>
        <span class="value center bold">{{imposto.valor}}</span>
      </td>
    </tr>
  </table>

  <div class="section">DOCUMENTOS ORIGINÁRIOS</div>

  <table>
    <tr class="h97">
      <td >
          <div style="margin-bottom:4px;">
            <span class="bold">{{this.tipo}}</span>
            <span class="mono">{{this.chave}}</span>
            {{this.serie}}/{{this.nro}}
          </div>
      </td>
 <td >
          <div style="margin-bottom:4px;">
            <span class="bold">{{this.tipo}}</span>
            <span class="mono">{{this.chave}}</span>
            {{this.serie}}/{{this.nro}}
          </div>
      </td>
    </tr>
  </table>

  <div class="section">OBSERVAÇÕES</div>

  <table>
    <tr>
      <td class="h40">
        <span class="value">{{obs}}</span>
      </td>
    </tr>
  </table>

  <div class="section">DADOS ESPECÍFICOS DO MODAL RODOVIÁRIO</div>

  <table>
    <tr class="h40">
      <td colspan="4">
        <span class="label">RNTRC DA EMPRESA</span>
        <span class="value">{{rntrc}}</span>
      </td>

      <td  colspan="4">
        <span class="label">CIOT</span>
        <span class="value">{{ciot}}</span>
      </td>

      <td colspan="2">
        <span class="label">LOTAÇÃO</span>
        <span class="value">{{lotacao}}</span>
      </td>
      <td colspan="4">
        <span class="label">DATA PREVISTA DE ENTREGA</span>
      </td>
 <td colspan="10">
        <span class="label">ESTE CONHECIMENTO DE TRANSPORTE ATENDE
À LEGISLAÇÃO DE TRANSPORTE RODOVIÁRIO EM VIGOR</span>
      </td>

    </tr>
  </table>

  <table>
  <tr class="h40">

      <td colspan="7">

  <div class="section">USO EXCLUSIVO DO EMISSOR DO CT-E</div>
        <span class="value tiny">
          Este documento foi emitido conforme legislação vigente.
        </span>
      </td>

      <td colspan="3">

  <div class="section">RESERVADO AO FISCO</div>
      </td>
</tr>
  </table>
  <br>
<div class="dashed-line-horizontal"></div>
<br>
<div class="section">
          DECLARO QUE RECEBI OS VOLUMES DESTE CONHECIMENTO
          EM PERFEITO ESTADO PELO QUE DOU POR CUMPRIDO
          O PRESENTE CONTRATO DE TRANSPORTE
        </div>
  <table>
    <tr class="h80">
   <td colspan="4">
   <table>
    <tr class="h40">
      <td >
        <span class="label">NOME</span>
      </td>
</tr>

    <tr class="h40">
      <td >
        <span class="label">RG</span>
      </td>

</tr>
  </table>
    </td>
 <td colspan="4">
        <span class="label">ASSINATURA / CARIMBO</span>
      </td>
<td colspan="5">
        <span class="label">TÉRMINO DA PRESTAÇÃO - DATA/HORA</span>

        <span class="label">INÍCIO DA PRESTAÇÃO - DATA/HORA</span>
      </td>
 <td colspan="2">
        <span class="label">CT-E</span>

      </td>
  
    </tr>
  </table>

  
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>

  <script>
    var chaveBruta = "{{chave}}".replace(/[^0-9]/g, '');

    if(chaveBruta) {
      JsBarcode("#barcode", chaveBruta, {
        format: "CODE128",
        displayValue: false,
        height: 30,
        width: 1.1,
        margin: 3,
        background: "transparent"
      });
    }
  </script>
</div>
</body>
</html>
